/#-------- Clase Anidada - NODO ---------.py
/#Implementar una Pila - Lista enlazadas.py
/-------------------------------- MENU PP.txt
/01-ejercio.py
/01-strigs.py
/01-variables.py
/013-string.py
/02-strings.py
/03-aritmeticas.py
/04-co mparacion.py
/05-input.py
/06-conversion.py
/07-logicos.py
/08-if - copia.py
/08-if.py
/09-conversion-tipo.py
/09-conversor.py
/10-lista.py
/11-ejercio.py
/12-ejercicio con el ejemplo de edad .py.py
/Auto_servicio.py
/calculadora.py
/CAMBIO DE TEMPERATURA CELSIUS A FAHRENHEIL.PY.py
/Comisión3_de_8A12.py
/control-flujo.py
/Convertir_de_metros_a_milimetros.py
/datos
/ejercicio01.py
/Examen2.py
/examn.py
/format-strings.py
/Funciones_Horario_del_Reloj_hora_minutos.py
/mario.py
/metodos-strings.py
/Nuevo Documento de texto trabajo N3 practico.txt
/Nuevo ejerc Python .py
/parcial 1 y 2.py
/practica
/Practica examen.py
/Primer programa.py
/primer_programa.py
/print.py
/Productoscon__iva.py
/Randon_comisión3.py
/Recuperatorio_primer_y_segundo_parcial.py
/Segunda_parte_con_Flavio.py
/tebajos viejos Pithon
/test.py
/Trabajo 1.py
/trabajo_auto_con_compañero.py
/Trabajo_con_compañero_Auto.py
/Untitled-1-0.py
/Untitled-1.py
/Untitled-2 -Persona.py
/Untitled-2.py
/_convertir_de_Metros_A_milimetros.py